{% load static %}

<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Thesispool</title>
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
		
		<link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" href="{% static 'website/style.css' %}">

		<meta charset="utf-8">

		{% block header %}
		{% endblock header %}
	</head>
	<body>
		<div class="row">
			<div class="col-md-12 dark-primary-color" style="height: 80px;">
				<h1 class="text-primary-color header" style="margin-top: 20px">Thesispool</h1>
			</div>	
		</div>
		{% if user.is_authenticated %}
			<div class="col-md-12 light-primary-color ribbon">
			        <span class="text-secondary-color" style="margin-top: 25px;">Angemeldet als {{ user.first_name }} {{ user.last_name }} [{{user.initials}}] 
			        </span> 
			        <span>
			            <a href="/accounts/logout">(logout)</a>
			        </span>
			</div>
		{% endif %}

		{% block content %}
		{% endblock content %}
	</body>
</html>