{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>{{headline}}</h1>
    </div> 

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.title.errors }}
            {{ form.title }}
        </div>
        <br />

        <div class="row">
            <div class="col-md-4">
                <strong>Erstkorrektor</strong>
                <p>
                    {% if supervisor %}
                        {{supervisor.first_name}} {{supervisor.last_name}}
                    {% else %}
                        {{ s_form.supervisors }}
                    {% endif %}
                </p>                
            </div>
            <div class="col-md-6">
                 <div><strong>Student</strong></div>
                
                    <span class="inline">{{student}} &nbsp;</span>
                    <div class="fieldWrapper inline">
                    {{ form.student_email.errors }}
                    {{ form.student_email }}
                    </div>
          
              
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <strong>Zweitkorrektor</strong>
                <br />
                {{ a_form.non_field_errors }}
                
                 <div class="fieldWrapper inline space-top-small">
                    {{ a_form.first_name.errors }}
                    {{ a_form.first_name }}
                </div>
                   <div class="fieldWrapper inline space-left-small space-top-small">
                    {{ a_form.last_name.errors }}
                    {{ a_form.last_name }}
                </div>
                   <div class="fieldWrapper inline space-left-small space-top-small">
                    {{ a_form.email.errors }}
                    {{ a_form.email }}
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="fieldWrapper">
                <div class="col-md-1">
                    {{ form.begin_date.label_tag }}
                </div>
                <div class="col-md-8">
                    {{ form.begin_date.errors }}
                    {{ form.begin_date }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                <div class="col-md-1">
                    {{ form.due_date.label_tag }}
                </div>
                <div class="col-md-8">
                    {{ form.due_date }}
                    <div class="inline">
                        {{ form.due_date.errors }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                <div class="col-md-8">
                    {{ form.prolongation_date }}
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="fieldWrapper inline">
                    {{ form.external.errors }}
                    {{ form.external.label_tag }}
                    {{ form.external }}
                </div>
                <div class="fieldWrapper inline">
                    {{ form.external_where.errors }}
                    {{ form.external_where.label_tag }}
                    {{ form.external_where }}
                </div>
            </div>
        </div>
        <br/>
          
        <input class="btn btn-success" style="float: left;" type="submit" value="Speichern" />
    </form>

    <table>
            <th>
                <form id="form_abort" id="btn_abort" action="{%url 'overview'%}" method="get">
                    <input class="btn btn-danger space-left-small" type="submit" value="Abbrechen"/>
                </form>
            </th>
            <!-- add no delete button in create thesis -->
            {% if supervisor is not Null and thesis.status_changed %}
            <th>
                <form action="{% url 'delete' thesis.surrogate_key|slugify %}" method="get">
                    <input class="btn btn-primary space-left-small" type="submit" value="Thesis löschen"/>
                </form>
            </th>
            {% endif %}
        </table>

</div>

<script type="text/javascript">
    var external_checkbox = document.getElementById("id_external")
    var external_textfield = document.getElementById("id_external_where")
    
    external_textfield.addEventListener("keyup", function() {
        external_checkbox.checked = (external_textfield.value !== "");
    });
</script>
{% endblock %}
