{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<h1>Student suchen</h1>
	</div>
	{% if form.is_valid %}
		<div class="row well">
			<div class="inline">
				<strong>Matrikelnummer {{form.student_id.value}}:</strong> {{student.first_name}} {{student.last_name}} ({{student.program}})	
			</div>
			<div class="inline space-left">
				<form action="{% url 'create' student_id=student.id %}" method="get">
				  	<button class="btn btn-success" type="submit" autofocus>
						<span class="glyphicon glyphicon-arrow-right"></span> Abschlussarbeit anlegen
					</button>
				</form>
			</div>
		</div>
	{% endif %}
	
	<br/>

	<div class="row">
		<form action="" method="post">
			{% csrf_token %}
			 <div class="fieldWrapper">
	            {{ form.student_id.errors }}
	            {{ form.student_id.label_tag }}
	            {{ form.student_id }}
	        </div>
		    <input class="btn btn-primary" type="submit" value="Matrikelnummer überprüfen" style="float: left; margin-top: 40px;"/>
		</form>
        <div style="margin-top: 40px">
            <form action="{%url 'create_student'%}" method="get">
                <input class="btn btn-primary space-left-small" type="submit" value="externen Student erstellen"/>
                <button type="button"  class="btn"
                        onclick="alert('Studenten anderer Fakultäten müssen manuell erstellt werden, ' +
                         'da zunächst nur Studenten der Fakultät I in der Datenbank vorhanden sind.');">?</button>
            </form>
        </div>

        <form id="form_abort" action="{%url 'overview'%}" method="get">
            <input id="btn_abort" class="btn btn-danger" type="submit" value="Abbrechen" style="margin-top: 20px;" />
        </form>
	</div>
</div>
{% endblock content %}