{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<h1>Thesis benoten</h1>
	</div>
	
	
	<div class="row">
		<div class="col-md-2">
	 		Titel:
	 	</div>
	 	<div class="col-md-10">
	 	 	<strong>{{thesis.title}}</strong>
	 	</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-2">
	 		Erstkorrektor:
	 	</div>
	 	<div class="col-md-10">
	 		{{thesis.supervisor}}
	 	</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		 	Zweitkorrektor:
		 </div>
		 <div class="col-md-10">
		 	{% if thesis.assessor %}
		  		{{thesis.assessor}}
		  	{% else %}
		  		<span style="font-style: italic;">nicht festgelegt</span>
		  	{% endif %}
		 </div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-2">Beginn: </div>
		<div class="col-md-10">{{thesis.begin_date}}</div>
	</div>
	<div class="row">
		<div class="col-md-2">Abgabe: </div>
		<div class="col-md-10">
				{% if thesis.is_prolonged %}
					<span class="glyphicon glyphicon-time"></span>&nbsp;
					<span>{{ thesis.prolongation_date }}</span>
					<span>(verlängert)</span>
				{% else %}	
					{{ thesis.due_date }}
				{% endif %}
		</div>
	</div>
	<br />
	<form action="/grade/{{thesis.surrogate_key}}" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-2">
				<div class="fieldWrapper">
		          	{{ form.grade.label_tag }}
	      		</div>	
			</div>
			<div class="col-md-10">
				<div class="fieldWrapper">
		            {{ form.grade }}
		            {{ form.grade.errors }}
	      		</div>	
			</div>
		</div>
        <div class="row">
			<div class="col-md-2">
				<div class="fieldWrapper">
		          	{{ form.second_grade.label_tag }}
	      		</div>
			</div>
			<div class="col-md-10">
				<div class="fieldWrapper">
		            {{ form.second_grade }}
		            {{ form.second_grade.errors }}
	      		</div>
			</div>
		</div>
		<br />
		<div style="display: {{thesis.handed_in_date|yesno:'none,visible'}}">
			<div class="row">
				<div class="col-md-2">
					<div class="fieldWrapper">
			          	{{ form.handed_in_date.label_tag }}
		      		</div>	
				</div>
				<div class="col-md-10">
					<div class="fieldWrapper">
			            {{ form.handed_in_date }}
			            {{ form.handed_in_date.errors }}
		      		</div>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="fieldWrapper">
		          	{{ form.examination_date.label_tag }}
	      		</div>	
			</div>
			<div class="col-md-10">
				<div class="fieldWrapper">
		            {{ form.examination_date }}
		            {{ form.examination_date.errors }}
	      		</div>	
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-2">
				<div class="fieldWrapper">
		          	{{ form.restriction_note.label_tag }}
	      		</div>	
			</div>
			<div class="col-md-10">
				<div class="fieldWrapper">
		            {{ form.restriction_note }}
		            {{ form.restriction_note.errors }}
	      		</div>	
			</div>
		</div> 
		<br/>
		<input class="btn btn-success" style="float: left;" type="submit" value="Speichern" />
	</form>
    
    <form id="form_abort" action="{%url 'overview'%}" method="get">
            <input id="btn_abort" class="btn btn-danger space-left-small" type="submit" value="Abbrechen"/>
    </form>
</div>


{% endblock content %}
