{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Hallo, {{ user.first_name }} {{ user.last_name }}!</h1>
	<div>
		<strong>Aktuelle Abschlussarbeiten:</strong>
	</div>
	<ul>
		{% for thesis in theses %}
			<li>{{thesis.title}} (Assessor: {{thesis.assessor}})</li>
		{% endfor %}
	</ul>

	<a href="{% url 'create' %}">Create New</a>
	<br />
	<br />
	<br />

		<form method="get" action="/accounts/logout/">
		{% csrf_token %}
			<input type="submit" value="logout" />
		</form>

{% endblock content %}