{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="col-md-10 col-md-offset-1">
		<div style="height:40px; margin-bottom: 30px">
			<div style="display: inline-block; vertical-align: middle">
				<h2>Laufende Abschlussarbeiten</h2>
			</div>	
			<div style="display: inline-block; vertical-align: middle; margin-top:12px; margin-left: 10px;">
				<a href="{% url 'create_step_one' %}">
					<span class="btn-sm btn-success glyphicon glyphicon-plus"></span>
				</a>	
			</div>
		</div>

		<table class="ui celled table">
			<thead>
				<tr>
					<th>Abgabedatum</span></th>
					<th>Status</th>
					<th>Student</th>
					<th>Thema</th>
					<th>Zweitkorrektor</th>
					<th colspan=3>Dokumente</th>
				</tr>
			</thead>
			
			<tbody>
					{% for thesis in theses %}
				
					<tr class="{% cycle 'row1' 'row2' %}">
						<td>{{thesis.due_date}}</td>
						<td>{{thesis.get_status_display}}</td>
						<td>{{thesis.student}}</td>
						<td>{{thesis.title}}</td>
						{% if thesis.assessor %}
							<td>{{thesis.assessor.first_name}} {{thesis.assessor.last_name}}</td>
						{% else %}
							<td> <i>nicht festgelegt</i></td>
						{% endif %}
						
						<td rowspan="2">
							<a class="document-link" target="_blank" href="/download/application/{{thesis.pdf_key}}">
								<span class="glyphicon glyphicon-file"></span>&nbsp; Anmeldung
							</a>
							<br />
							<a class="document-link" target="_blank" href="/download/prolongation/{{thesis.pdf_key}}">
								<span class="glyphicon glyphicon-file"></span>&nbsp; Verlängerung
							</a>
							<br />
							<a class="document-link" target="_blank" href="/download/grading/{{thesis.pdf_key}}">
								<span class="glyphicon glyphicon-file"></span>&nbsp; Bewertung
							</a>
						</td>
					</tr>
					<tr class="{% cycle 'row1' 'row2' %}">
						<td class="info-row" colspan="5"  style="border-bottom: 1px solid #ddd; border-top:0px">
							<a href="#" class="icon-link">
								<span class="glyphicon glyphicon-pencil" title="Ändern" style="margin-left: 20px;"></span>
							</a>
							<a href="{% url 'prolong' thesis.pk %}" class="icon-link">
								<span class="glyphicon glyphicon-hourglass" title="Verlängern" style="margin-left: 20px;"></span>
							</a>
							<a href="{% url 'grade' thesis.pk %}" class="icon-link">
								<span class="glyphicon glyphicon-education" title="Benoten" style="margin-left: 20px;"></span>
							</a>
						</td>
					</tr>

					{% endfor %}
			</tbody>
		</table>
		
		
	</div>
{% endblock content %}