{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Hallo, {{ user.first_name }} {{ user.last_name }}!</h1>
	<div>
		<h2>Aktuelle Abschlussarbeiten:</h2>
	</div>
<table>
<thead>
</thead>
<tr>
	<th>Thema</th>
	<th>Student</th>
	<th>Zweitkorrektor</th>
</tr>
<tbody>
		{% for thesis in theses %}
		<tr>
			<td>{{thesis.title}} <a href="/delete/{{thesis.id}}">X</a></td>
			<td>{{thesis.student}}</td>
			<td>{{thesis.assessor.first_name}} {{thesis.assessor.last_name}}</td>
		</tr>
		{% endfor %}
</tbody>
</table>

	<ul>
		
	</ul>

	<a href="{% url 'create' %}">Create New</a>
	<br />
	<br />
	<br />

		<form method="get" action="/accounts/logout/">
			{% csrf_token %}
			<input type="submit" value="logout" />
		</form>

{% endblock content %}